[submodule "DisplayThings/vendor/glfw"]
	path = DisplayThings/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DisplayThings/vendor/imgui"]
	path = DisplayThings/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
